<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meriem.com.smartlight" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosmart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity1"
            android:label="@string/title_activity_activity1" >
        </activity>
        <activity
            android:name=".Activity2"
            android:label="@string/title_activity_activity2" >
        </activity>
        <activity
            android:name=".Activity3"
            android:label="@string/title_activity_activity3" >
        </activity>
        <activity
            android:name=".SingleItemView"
            android:label="@string/title_activity_singleitemview" >
        </activity>
        <activity
            android:name=".enregistrement"
            android:label="@string/title_activity_enregistrement" >
        </activity>
        <activity
            android:name=".progressbar"
            android:label="@string/title_activity_progressbar" >
        </activity>
        <activity
            android:name=".remoteprofile"
            android:label="@string/title_activity_remoteprofile" >
        </activity>
        <activity
            android:name=".remoteprogress"
            android:label="@string/title_activity_remoteprogress" >
        </activity>
        <activity
            android:name=".typecontrol"
            android:label="@string/title_activity_typecontrol" >
        </activity>
    </application>

</manifest>
